USE [master]
GO
/****** Object:  Database [libraryDB]    Script Date: 2024/12/16 9:08:31 ******/
CREATE DATABASE [libraryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'libraryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\libraryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'libraryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\libraryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [libraryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [libraryDB]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 2024/12/16 9:08:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[id] [varchar](50) NOT NULL,
	[psw] [varchar](50) NULL,
 CONSTRAINT [PK__admin__3213E83F67379A1F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book]    Script Date: 2024/12/16 9:08:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book](
	[book_id] [int] NOT NULL,
	[name] [varchar](70) NULL,
	[author] [varchar](50) NULL,
	[publisher_name] [varchar](50) NULL,
	[inventory] [int] NULL,
 CONSTRAINT [PK__book__490D1AE171B6DC97] PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[borrow_books]    Script Date: 2024/12/16 9:08:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[borrow_books](
	[userId] [int] NULL,
	[book_id] [int] NULL,
	[book_date] [datetime] NULL,
	[no] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_borrow_books] PRIMARY KEY CLUSTERED 
(
	[no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MsUser]    Script Date: 2024/12/16 9:08:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsUser](
	[userId] [varchar](50) NOT NULL,
	[name] [varchar](50) NULL,
	[sex] [char](2) NULL,
	[psw] [varchar](50) NULL,
 CONSTRAINT [PK__Library___CB9A1CFF3AFD437B] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MsUser]  WITH CHECK ADD  CONSTRAINT [CK_Library_user] CHECK  (([sex]='男' OR [sex]='女'))
GO
ALTER TABLE [dbo].[MsUser] CHECK CONSTRAINT [CK_Library_user]
GO
USE [master]
GO
